github_actions:
  weekly_ci:
    schedule:
      - cron: "0 12 * * 6"
  codeql:
    schedule:
      - cron: "20 17 * * 4"
tmt_hardware:
  memory: ">= 4096 MB"
runtime_collection_requirements:
  - name: ansible.posix
test_collection_requirements: []
