github_actions:
  weekly_ci:
    schedule:
      - cron: "0 12 * * 6"
  codeql:
    schedule:
      - cron: "39 10 * * 0"
ansible_lint:
  extra_vars:
    test_playbook: tests_default.yml
    network_provider: nm
yamllint:
  ignore: |
    tests/roles/
role_specific_contributing: include_files/network_contributing.md
present_badges:
  - "[![Coverage Status](https://coveralls.io/repos/github/linux-system-roles/network/badge.svg)](https://coveralls.io/github/linux-system-roles/network)"
  - "![CI Testing](https://github.com/linux-system-roles/network/workflows/tox/badge.svg)"
  - "[![Code Style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/ambv/black)"
  - "[![Language grade: Python](https://img.shields.io/lgtm/grade/python/g/linux-system-roles/network.svg?logo=lgtm&logoWidth=18)](https://lgtm.com/projects/g/linux-system-roles/network/context:python)"
