github_actions:
  weekly_ci:
    schedule:
      - cron: "0 20 * * 6"
  codeql:
    schedule:
      - cron: "37 4 * * 4"
ansible_lint:
  mock_modules:
    - seboolean
    - selinux
runtime_collection_requirements:
  - name: ansible.posix
  - name: community.general
    version: "{{ community_general_version }}"
  - name: fedora.linux_system_roles
test_collection_requirements: []
