github_actions:
  weekly_ci:
    schedule:
      - cron: "0 2 * * 0"
# ansible-test does not like that we use a shell script as a module
# so we have to add ignores for that - but ansible-lint does not like
# ignores
ansible_lint:
  skip_list:
    - sanity[cannot-ignore]  # wokeignore:rule=sanity
  extra_vars:
    targets: target_hosts
runtime_collection_requirements:
  - name: ansible.posix
test_collection_requirements: []
